@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: 121212;
    background: radial-gradient(circle, rgba(178, 225, 134, 0) 0%, rgba(178, 225, 134, 0.1) 40%, rgba(178, 225, 134, 0.15) 80%, rgba(178, 225, 134, 0.2) 100%), url(../src/images/bg-planty.png) no-repeat;
    background-size: auto 115%;
    background-position-x: 40%;
}

a {
    font-weight: 400;
    color: #121212;
    text-decoration: inherit;
}

a:hover {
    color: #54A543;
}

body {
    place-items: center;
    min-width: 320px;
    max-height: 100vh;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #121212;
    opacity: 90%;
    font-size: small;
    color: #727074;
}

h1 {
    font-size: 2.4em;
    line-height: 1.1;
}

button {
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 0.5em 1.2em;
    font-size: 0.8em;
    font-weight: 500;
    cursor: pointer;
    background-color: #B2E186;
    opacity: 0.4;
    box-shadow: 0px 2px 5px -3px;

}

button:hover {
    background-color: #54A543;
    opacity: 50%;
}

button:focus,
button:focus-visible {
    outline: 4px auto #54A543;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

/* picker color */
.rcp,
.rcp div,
.rcp button {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    box-sizing: border-box;
}

.rcp {
    display: block;
    overflow: hidden;
    width: 230px;
    height: 230px;
    position: relative;
    transform: scale(1.001);
    transition: transform 0.15s cubic-bezier(0.68, 0, 0.47, 2);
}

.rcp:focus {
    outline: 0;
}

.rcp:hover .rcp__knob {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 0 10px rgba(0, 0, 0, 0.24);
}

.rcp.dragging {
    transform: scale(1.04);
}

.rcp.disabled {
    cursor: not-allowed;
    transform: scale(0.96);
}

.rcp.dragging .rcp__rotator {
    z-index: 1;
}

.rcp__palette {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
    /**
     * @hack: MS Edge 18 (not the Chromium based one) has a bug with mask-image and
     * transforms. When `transform: scale(1.04)` is applied the mask-image scales too
     * but its position is incorrect now. Otherwise the much shorter radial-gradient mask
     * could've been used:
     * mask-image: radial-gradient(circle at 50% 50%, transparent 53.5%, black 54%);
     *
     * Instead, below is an base64 inlined SVG:
     * <?xml version="1.0" encoding="UTF-8"?>
     * <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100">
     *     <defs>
     *        <mask id="mask" x="0" y="0" width="100" height="100">
     *            <rect x="0" y="0" width="100" height="100" fill="#fff"/>
     *            <circle cx="50" cy="50" r="38" />
     *        </mask>
     *    </defs>
     *
     *    <rect x="0" y="0" width="100" height="100" mask="url(#mask)"/>
     * </svg>
     */
    mask-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDEwMCAxMDAiPgogICAgPGRlZnM+CiAgICAgICAgPG1hc2sgaWQ9Im1hc2siIHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj4KICAgICAgICAgICAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9IiNmZmYiLz4KICAgICAgICAgICAgPGNpcmNsZSBjeD0iNTAiIGN5PSI1MCIgcj0iMzgiIC8+CiAgICAgICAgPC9tYXNrPgogICAgPC9kZWZzPgoKICAgIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBtYXNrPSJ1cmwoI21hc2spIi8+Cjwvc3ZnPgo=');
    border-radius: 50%;
    overflow: hidden;
    will-change: transform, opacity;
    transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1), opacity 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}

.rcp__palette.in {
    transform: scale(1);
    opacity: 1;
}

.rcp__palette.out {
    transform: scale(0);
    opacity: 0;
}

.disabled .rcp__palette {
    background-image: radial-gradient(#808080, #fff) !important;
}

.rcp__rotator {
    width: 100%;
    height: 100%;
    position: absolute;
}

.rcp__knob {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12), 0 0 5px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    position: absolute;
    width: 7%;
    height: 7%;
    top: 2.5%;
    left: 46.5%;
    background-color: #fff;
    transition: transform 0.4s cubic-bezier(0.35, 0, 0.25, 1);
    outline: 0;
    border-style: none;
}

.rcp__knob.in {
    transform: scale(1);
}

.rcp__knob.out {
    transform: scale(0);
}

.disabled .rcp__knob {
    box-shadow: none !important;
    pointer-events: none;
}

.rcp__well {
    position: absolute;
    width: 25%;
    height: 25%;
    top: 37.5%;
    left: 37.5%;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    background-color: #ff0000;
    outline: 0;
    cursor: pointer;
    overflow: visible;
    border: 6px solid #fff;
    box-shadow: 0 0 0 1px #b2b2b2;
}

.rcp__well::-moz-focus-inner {
    border: 0;
}

.rcp__well:hover {
    box-shadow: 0 0 1px 1px #333;
}

.rcp__well:focus {
    box-shadow: 0 0 1px 2px #b2b2b2;
}

.rcp__well.pressed {
    animation: rcp-beat 0.4s cubic-bezier(0.35, 0, 0.25, 1) forwards;
}

.disabled .rcp__well {
    background-color: #bfbfbf !important;
    pointer-events: none;
}

.rcp__ripple {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: #ff0000 solid 8px;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: -1;
}

.rcp__ripple.rippling {
    z-index: 0;
    animation: rcp-ripple 0.5s cubic-bezier(0.35, 0, 0.25, 1) forwards;
}

@keyframes rcp-ripple {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
        border-width: 0;
        transform: scale(3.8);
    }
}

@keyframes rcp-beat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.landingText {
    background: rgb(178, 225, 134);
    background: linear-gradient(180deg, rgba(178, 225, 134, 0) 0%, rgba(178, 225, 134, 0.6989010989010989) 50%, rgba(178, 225, 134, 1) 100%);
}

.form__container {
    background: linear-gradient(0deg, rgba(236, 232, 239, 0) 0%, rgba(236, 232, 239, 0.2) 40%, rgba(236, 232, 239, 0.5) 92%);
    border-radius: 20px;
    padding: 1em;
}

.card__container {
    background: linear-gradient(180deg, rgba(178, 225, 134, 0.70) 0%, rgba(178, 225, 134, 0.35) 43%, rgba(178, 225, 134, 0.1) 100%);
    border-radius: 20px;
    padding: 2em;
}

.tree__comments {
    grid-template-rows: repeat(3, minmax(100px, 150px))
}

.cropped-image {
    width: auto;
    height: 450px;
}

.fill-image {
    object-fit: cover;
    object-position: left;
}

@media screen and (min-width: 768px) {
    .rcp {
        width: 280px;
        height: 280px;
    }
}